
<style>
    /* Style the body */
    body {
        font-family: Arial;
        margin: 0;
    }

    /* Header/Logo Title */
    .header {
        padding: 60px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
    }


</style>
<div class="header">
    <h1>COMP3006 - Full Stack development</h1>
    <p>Project Management Web Application</p>
</div>
