<!DOCTYPE html>
<html>
<head>
    <title>Interactive User Management Application</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<style>
    html,body{
        height: 100%;
    }
</style>

<body class="bg-info">
<div class="row h-100 align-item-center">
    <div style="width:680px;margin-left:380px;background-color:white;margin-top:15px;padding:20px" class="col md-6 offset-md-3">
        <!-- populate the child view!-->
        {{{ body }}}
    </div>
</div>
</body>
</html>