* {
    box-sizing: border-box;
}

body,html {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

/* Page Content */
.content {
    padding:20px;
}


.bg-info col .md-6 .offset-md-3 .row .h-100 .align-item-center {
    margin-left:330px;
    background-color:white;
    margin-top:15px;
    padding:20px
}

.center{
    margin-left:330px;
    background-color:white;
    margin-top:15px;
    padding:20px
}

.title{
    margin-left:330px;
    background-color:white;
    margin-top:15px;
    padding:20px
}

.createTitle{
    margin-left:330px;
    background-color:white;
    margin-top:15px;
    padding:20px
}

.insertProject{
margin-left: 60px;
}

.main .innerMain .subInnerMain {
    margin-left: 0px
;
}



